<h1> New entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">
  <p>
    <label for="title_input">Title</label>
    <input type="text" name="title" id="title_input">
  </p>

  <p>
    <label for="description_input">Message</label>
    <input type="text" name="description" id="description_input">
  </p>
  <p>
    <label for="date_input">Date</label>
    <input type="date" name="date" id="date_input">
  </p>


  <!-- So we can transfer state from the previous action to the next (i.e. which place the user clicked) -->
  <input type="hidden" name="place_id" value="<%= @place["id"]%>" id="place_id_input">


  <button>Submit</button>
  <a href="/places/<%= @place["id"] %>">Cancel</a>
</form>
